* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

img,svg {
  width: 100%;
  height: 100%;
}

html {
  --vw : 100vw;
  @media (min-width: #{$maxvw + 1}px) {
    --vw : #{$maxvw}px;
  }
  
  @media (max-width: 1210px) {
    font-size: 14px;
  }
  @media (max-width: 980px) {
    font-size: 12px;
  }
}

html body {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1920px;
  font-family: 'Formular', sans-serif ;
}

p, h1, h2, h3, li, ul, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

// паттерн для скрытия
div .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
}


//  .swiper__pagination .swiper-pagination-bullet-active {
//     position: relative;
//     &::after{
//         content: '';
//         position: absolute;
//         border: 3px solid #2CBD3F ;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         pointer-events: none;
//       }
//       .swiper__pagination .swiper__pagination-item img{
//         @include imgSwap;
//       }
//  }

