@font-face {
	font-family: Formular;
	font-display: swap;
	src: url('@/assets/fonts/Formular-Medium.woff2') format('woff2'),url('@/assets/fonts/Formular-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Formular;
	font-display: swap;
	src: url('@/assets/fonts/Formular-Regular.woff2') format('woff2'),url('@/assets/fonts/Formular-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('@/assets/fonts/Inter-Regular.woff') format('woff2'),url('@/assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: Geometria;
	font-display: swap;
	src: url('@/assets/fonts/Geometria-Medium.woff2') format('woff2'),url('@/assets/fonts/Geometria-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


