@mixin transition {
  transition-property: box-shadow, border, outline, color, background-color, transform, fill, stroke, opacity, filter, font-weight, font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

@mixin  backgroundCenter {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin  flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

