@mixin transition {
  transition-property: box-shadow, border, outline, color, background-color, transform, fill, stroke, opacity, filter, font-weight, font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

@mixin  backgroundCenter {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin  flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin imgSwap {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1920px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media screen and (max-width: $mobile ) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: ($mobile + 1px)) and (max-width: $tablet) { @content; }
  }
  @else if $media == laptop {
    @media (min-width: ($tablet + 1px)) and (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: ($desktop + 1px)) and (max-width: $large-screen) { @content; }
  }
  @else if $media == large-screen {
    @media screen and (min-width: $large-screen) { @content; }
  }
}


